<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rollingpinbakery.rollingpinbakery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Store"
            android:label="@string/title_activity_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CakesCategory"
            android:label="@string/title_activity_cakes_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CookiesCategory"
            android:label="@string/title_activity_cookies_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PastriesCategory"
            android:label="@string/title_activity_pastries_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DonutCategory"
            android:label="@string/title_activity_donut_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BreadsCategory"
            android:label="@string/title_activity_breads_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Item"
            android:label="@string/itemDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminProducts"
            android:label="@string/title_activity_admin_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminProductEdit"
            android:label="@string/title_activity_admin_product_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminProductAdd" />
        <activity
            android:name=".AdminCustomers"
            android:label="@string/title_activity_admin_customers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminCustomerEdit"
            android:label="@string/title_activity_admin_customer_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Locations"
            android:label="@string/title_activity_locations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminCustomerAdd" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log In">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Registration">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportsActivity"
            android:label="Reports">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.ReportsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustReports"
            android:label="Customer Reports">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.CustReports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderReports"
            android:label="Order Reports">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.OrderReports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InventReports"
            android:label="Inventory Reports">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.InventReports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartActivity"
            android:label="Cart">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.CartActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StCloudCurrentWeatherActivity"
            android:label="@string/title_activity_st_cloud_current_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SanFranciscoCurrentWeatherActivity"
            android:label="@string/title_activity_san_francisco_current_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiamiCurrentWeatherActivity"
            android:label="@string/title_activity_miami_current_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShippingInfoPage"
            android:label="Shipping Info">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.ShippingInfoPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentInfo"
            android:label="Payment Info">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.PaymentInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderConfirmation"
            android:label="Order Confirmation">
            <intent-filter>
                <action android:name="com.rollingpinbakery.rollingpinbakery.OrderConfirmation"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>